*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    font-family: 'Roboto', sans-serif;
}

.App {
    background: black;
    color: white;
}

.App .appWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}